<section class="container mt-5">
    <div class="row align-items-center">
        <div class="col-xl-2 col-lg-1">
            <div class="lc-block">
                <div></div>
            </div>
            <!-- /lc-block -->
        </div>
        <!-- /col -->
        <div
            class="col-xl-5 col-lg-6">
            <!-- /lc-block -->
            <div class="lc-block">
                <div>
                    <h2><a id="about"></a>Who is this guy?</h2>
                    <p>After a long career in healthcare and management, I decided to turn my passion into a new career and launch I Know a
                        Guy. For years, when not repairing or building something at home, I was helping friends and family with my skills. My
                        attention to detail and commitment to satisfaction are priorities for me. I have an appreciation for high quality finish
                        and a commitment to delivering the same to homeowners.</p>
                        <p>Building relationships with homeowners is my number one goal. I am committed to listening to
                    your needs and providing honest, open communications about what I recommend and what you can expect through all phases
                    of your project or repair, however big or small.</p>
                        <p class="mb-0">— Mathieu Hach&eacute;</p>
                </div>
            </div>
            <!-- /lc-block -->
        </div>
        <!-- /col -->
        <div class="col-lg-4">
            <div class="lc-block text-center">
                <img class="img-fluid" src="assets/mathieu.jpg" alt="">
            </div>
            <!-- /lc-block -->
        </div>
        <!-- /col -->
    </div>
</section>