<section class="container-fluid bg-dark">
        <div class="col-xl-6 container py-5 text-white">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="lc-block mb-4">
                        <div>
                            <h2 class="h1 fw-bold text-center">My promise to you</h2>
                        </div>
                    </div>
                    <div class="lc-block mb-4">
                        <ul>
                            <li class="pb-3">From the time you contact me, there will be no surprises. For larger projects, if you have questions
                                about what you might need done, we can set up a time and I’ll assess your needs and provide consultation. Site
                                assessments can be done in person or virtually, depending on your needs and comfort level.</li>
                            <li class="pb-3">When I have an appointment with you, I will be there on time. I come equipped with all necessary tools
                                and specialized equipment, and have the ability to transport supplies to the site in my enclosed trailer.</li>
                            <li class="pb-3">I am fully insured to protect your property and the important people (and pets!) under its roof.</li>
                            <li class="pb-3">All work is 100% guaranteed — I will make sure that you are completely satisfied. If something isn’t
                                quite what you had imagined or hoped, I will work with you until it meets or exceeds your expectations.</li>
                            <li class="pb-3">I will be sure to keep your space safe and tidy while I am working there, and I will leave it clean
                                when the job is done.</li>
                        </ul>
                    </div>
                    <!-- /lc-block -->
                </div>
                <!-- /col -->
            </div>
        </div>

</section>