<section class="container py-5 text-center">
    <div class="row">
        <h2 class="h1 fw-bold text-center mb-4">Schedule a consultation</h2>
        <div class="col-lg-6 offset-lg-3">
            <!-- Wrapper container -->
<div class="container py-4">

  <!-- Bootstrap 5 starter form -->
  <form id="contactForm" name="contact" method="POST" data-netlify="true">

    <!-- Name input -->
    <div class="mb-3">
      <label class="form-label" for="name">Name</label>
      <input class="form-control" id="name" type="text" name="name" placeholder="Name" />
    </div>

    <!-- Email address input -->
    <div class="mb-3">
      <label class="form-label" for="emailAddress">Email Address</label>
      <input class="form-control" id="emailAddress" type="email" name="email" placeholder="Email Address" />
    </div>

       <!-- phone input -->
    <div class="mb-3">
      <label class="form-label" for="phone">Phone Number</label>
      <input class="form-control" id="phone" type="phone" name="phone" placeholder="Phone Number" />
    </div>

    <!-- Message input -->
    <div class="mb-3">
      <label class="form-label" for="message">Message</label>
      <textarea class="form-control" id="message" type="text" name="message" placeholder="Message" style="height: 10rem;"></textarea>
    </div>

    <!-- Form submit button -->
    <div class="d-grid">
      <button class="btn btn-dark btn-lg" type="submit">Submit</button>
    </div>

  </form>

</div>
        </div>
    </div>
    <!-- /col -->
</section>