<header class="container d-flex flex-wrap justify-content-center py-3 mb-4">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <img width="200px" height="60px" src="assets/logo-sm.svg" alt="logo">
  </a>
  <nav class="nav align-items-center">
    <li class="nav-item">
      <a href="#about" class="nav-link link-dark fw-bold fs-4">About</a>
    </li>
    <li class="nav-item">
      <a href="#services" class="nav-link link-dark fw-bold fs-4">Services</a>
    </li>
    <li class="nav-item">
      <a href="#rates" class="nav-link link-dark fw-bold fs-4">Rates</a>
    </li>
    <li class="nav-item">
      <a href="#contact" class="nav-link link-dark fw-bold fs-4">Contact</a>
    </li>
  </nav>
</header>