<header class="container d-flex flex-wrap justify-content-center py-3 mb-4">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <img width="200px" height="60px" src="assets/logo-sm.svg" alt="logo">
  </a>
  <ul class="nav align-items-center">
    <li class="nav-item">
      <a href="#" class="nav-link link-dark fw-bold fs-5">Home</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link link-dark fw-bold fs-5">Pricing</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link link-dark fw-bold fs-5">About</a>
    </li>
  </ul>
</header>