<section class="container py-5 my-4 text-dark text-center">
    <div class="row justify-content-center mb-4 mt-5">
        <div class="lc-block col-xl-6 col-md-7">
            <h1 class="h2">Looking for someone you can trust to repair or replace something in your home?
                <br/><span class="display-2 fw-bold text-uppercase">I Know A Guy.</span>
            </h1>
        </div>
        <!-- /lc-block -->
    </div>
    <div class="row justify-content-around mb-4">
        <div class="lc-block col-xl-8 col-md-10 lh-lg">
            <div>
                <p class="fs-5 lh-base">I Know a Guy Renovations and Repairs offers a solution for homeowners seeking
                    all-in-one handyman services in the Greater Moncton area. I bring quality workmanship and peace of mind for your small
                    to medium projects as well as for your unexpected and emergency repairs.</p>
            </div>
        </div>
        <!-- /lc-block -->
    </div>
    <div class="row pb-4">
        <div class="col-md-12 d-">
            <div class="lc-block d-grid gap-3 d-md-block">
                <a class="btn btn-lg btn-danger mx-2" href="#contact" role="button">Schedule an Appointment</a>
                <!-- <a class="btn btn-lg btn-danger mx-2" href="#contact" role="button">I Need Emergency Service</a> -->
            </div>
        </div>
        <!-- /col -->
    </div>
</section>
