<section class="container py-5 text-center">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="row offset-md-3row-cols-1 row-cols-md-2 mb-3 text-center justify-content-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">First Hour</h4>
                        </div>
                        <div class="card-body">
                            <p class="fs-2 card-title pricing-card-title">$75</p>
                            <ul class="text-start mt-3 mb-4">
                                <li>Includes travel to site</li>
                                <li>Includes a supplies run to a store</li>
                                <li>Only applicable on the first day of multi-day service calls</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Additional Hours(s)</h4>
                        </div>
                        <div class="card-body">
                            <p class="fs-2 card-title pricing-card-title">$50<small class="text-muted fw-light">/hr</small></p>
                            <ul class="text-start mt-3 mb-4">
                                <li>Rebates may apply to larger-scale projects</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /col -->
    </div>
</section>