<section class="container-fluid bg-light p-5 border-top">
    <div class="container">
    <h2 class="h1 text-center fw-bold">What can I do for you?</h2>
    <div class="row py-3">
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
            <div class="card border-dark w-100">
                <h4 class="card-header text-uppercase bg-dark text-light">Handyman services</h5>
                <div class="card-body">
                    <ul>
                        <li>Miscellaneous repairs and upgrades</li>
                        <li>Appliance installation</li>
                        <li>Leaky plumbing</li>
                        <li>Gutter cleaning</li>
                        <li>Gadget installation</li>
                        <li>Furniture assembly</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
            <div class="card border-dark w-100">
                <h4 class="card-header text-uppercase bg-dark text-light">Remodeling</h5>
                <div class="card-body">
                    <ul>
                        <li>Basement and bathroom remodeling</li>
                        <li>Drywalling</li>
                        <li>Flooring and tile installation</li>
                        <li>Doors and windows</li>
                        <li>Trim carpentry</li>
                        <li>Interior and exterior upgrades</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
            <div class="card border-dark w-100">
                <h4 class="card-header text-uppercase bg-dark text-light">Carpentry</h5>
                <div class="card-body">
                    <ul>
                        <li>Decks</li>
                        <li>Fences</li>
                        <li>Framing</li>
                        <li>Shelving</li>
                        <li>Custom wood fabrication</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-3 d-flex align-items-stretch">
            <div class="card border-dark w-100">
                <h4 class="card-header text-uppercase bg-dark text-light">Painting</h5>
                <div class="card-body">
                    <ul>
                        <li>Interior and exterior</li>
                        <li>Deck staining</li>
                        <li>Foundation parging</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-3 d-flex align-items-stretch">
            <div class="card border-dark w-100">
                <h4 class="card-header text-uppercase bg-dark text-light">Electrical</h5>
                <div class="card-body">
                    <ul>
                        <li>Lighting</li>
                        <li>Outlets</li>
                        <li>Ceiling fans</li>
                        <li>Air exchanger replacement</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-3 d-flex align-items-stretch">
            <div class="card border-dark w-100">
                <h4 class="card-header text-uppercase bg-dark text-light">Landscaping</h5>
                <div class="card-body">
                    <ul>
                        <li>Walkways and walls</li>
                        <li>Stone patio</li>
                        <li>Lawn spot repair</li>
                        <li>Flower beds</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-3 d-flex align-items-stretch">
            <div class="card border-dark w-100">
                <h4 class="card-header text-uppercase bg-dark text-light">Audio/video</h5>
                <div class="card-body">
                    <ul>
                        <li>TV wall mount</li>
                        <li>In-ceiling/wall speakers</li>
                        <li>Home theater installation</li>
                        <li>Custom audio design and build</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>