---
layout: "base.njk"
title: I Know a Guy
---

<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">I Know A Guy</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, deserunt.</p>
        <div class="flex-group">
          <a href="#" class="btn btn--primary">Primary</a>
          <a href="#" class="btn btn--neutral">Secondary</a>
        </div>
      </div>
      <div>
        <p>Photo</p>
      </div>
  </div>
</section>